* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

html, body {
    font-family: 'Raleway', sans-serif;

    margin: 0;
    height: 100%;
    overflow: hidden
}

pre, a {
    margin-left: 6px;
    color: aliceblue;
}

svg {
    z-index: -1;
}

#lyrics {
    color: #343434 !important;
}

.console {
    font-size: 12px;
    border: solid;
    border-width: 1px;
    border-color: azure;

    border-top-width: 18px;
    border-top-color: azure;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    background-color: black;
    width: 550px;
    height: 370px;
}

.background-lyrics {
    z-index: -2;
    top: 0;
    left: 0;
    position: absolute;
}

.z, .x, .v {
    stroke: blueviolet;
}

.n, .m, .e {
    stroke: darkslateblue;
}

.content {
    float: left;
    display: inline;
    width: 49%;
}

#panel p, #panel-right p, #panel-left p, #panel a, #panel-right a, #panel-left a {
    font-size: 12px;
    margin: 8px;
}

#panel {
    background-color: #111111;
    background-image: url("./../images/texture.png");
    -webkit-font-smoothing: none;
    display: none;
    color: aliceblue;
    opacity: 0;
    height: 300px;
    width: 300px;
    border: 1px solid rgba(34, 34, 34, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-perspective-origin: center center;
    -webkit-transform: translateX(-50%) translateY(-50%);
}

.panel-side {
    background-color: #111111;
    z-index: -1;
    color: aliceblue;
    display: none;
    height: 250px;
    width: 300px;
    border: 2px solid rgba(34, 34, 34, 0.7);
    position: absolute;
    top: calc(50% - (250px / 2));
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

i {
    font-size: 24px;
}

p + ul {
    margin-top: -2px;
}

br + .multiline-panel-content {
    margin-top: -4px;
}

p.dimmer + p {
    margin-left: -8px;
}

p.dimmer {
    color: #313131;
}

.multiline-panel-content {
    margin-left: 8px;
    margin-top: 8px;
    position: relative;
    display: inline-block;
}

#panel-right .multiline-panel-content {
    padding-left: 46px;
}

a {
    display: inline-block;
}

.description {
    margin-top: -8px !important;
}

.multiline-panel-content i, .multiline-panel-content p, .multiline-panel-content img, .multiline-panel-content a {
    display: inline-block;
    vertical-align: middle;
}

.multiline-panel-content + .multiline-panel-content {
    margin-top: -4px;
}

.multiline-panel-content.indent {
    transform: translateX(-30px);
    margin-left: 42px;
}

#panel-left {
    border-right: none;
    text-align: left;
}

#panel-right {
    border-left: none;
    text-align: left;
}

#footer {
    position: absolute;
    text-align: center;
    bottom: 7.77%;
    left: 0;
    right: 0;
    height: 0;
}

#footer p, a {
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
    color: aliceblue;
}

.center {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    width: 512px;
    height: 256px;
}

.audio-left {
}

.audio-right {
}

.zxvnme {
}

.shadow {
    -webkit-filter: drop-shadow(0 0 0.75rem darkslateblue);
    filter: drop-shadow(0 0 0.75rem darkslateblue);
}
